body {
    font-family: Avenir, "Avenir Next LT Pro", sans-serif;
}
.top-container {
    display: flex;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    align-items: center;
}
.back {
    font-size: 20px;
    font-weight: bold;
    border-radius: 100%;
    background-color: darkblue;
    width: fit-content;
    height: fit-content;
    text-align: center;
    align-content: center;
    padding: 25px 10px;
    margin: 10px 15px;
}
.back:hover {
    background-color: blanchedalmond;
}
.h1-container {
    position: relative;
}
h1 {
    font-size: 40px;
    position: relative;
    z-index: 5;
}
.h1-cover {
    position: absolute;
    top: 48%;
    left: 5%;
    width: 90%;
    height: 5%;
    background-color: lavender;
    z-index: 4;
    border-radius: 20px;
}
.h1-container > p {
    margin: -30px 0px -10px;
}
.code-link {
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}
.bracket {
    font-size: 50px;
    padding: 0px 5px;
    position: relative;
    top: 5px;
}
.h1-container {
    background-color: blanchedalmond;
    border-radius: 20px;
    padding: 0px 20px 30px 20px;
    margin: 20px 20px 0px 20px;
    width: fit-content;
    text-align: center;
}
.button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 120px;
    position: relative;
    height: fit-content;
}
h2 {
    padding-left: 20px;
    font-size: 26px;
}
.slide-container {
    flex-basis: 80%;
    position: relative;
}
.background {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    max-height: 600px;
    position: absolute;
    top: 37%;
    left: 3%;
    background-color: lavender;
    z-index: -1;
}
.slide-cover {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: width 0.5s ease-in-out;
    background-color: paleturquoise;
    z-index: 5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    align-content: center;
}
.spin {
    rotate: 0deg;
    transition: rotate 0.5s ease-in-out;
    border-radius: 100%;
    background-color: paleturquoise;
    font-size: 26px;
    font-weight: bold;
    border: none;
    text-decoration: none;
    padding: 10px 12px;
    width: fit-content;
    height: fit-content;
}
.img-container {
    position: absolute;
    top: 100%;
    left: 3%;
    overflow: hidden;
    width: 100%;
    height: 0px;
    transition: height 0.5s ease-in-out;
    display: flex;
    justify-content: center;
}
.img-container-bar {
    background-color: lavender;
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 12%;
    border-radius: 20px;
    z-index: -1;
}
a:link {
    color: lightseagreen;
}
a:visited {
    color: mediumseagreen;
}
a:active {
    color: lightseagreen;
}
a:hover {
  color: orchid;
}