.back {
    background-color: beige;
}
.back:hover {
    background-color: rgb(156, 209, 246);
}
.h1-container {
    background-color: rgb(156, 209, 246);
    border-color: beige;
}
.h1-cover {
    background-color: beige;
    top: 38%;
}
.spin {
    background-color: rgb(156, 209, 246);
}
.slide-cover {
    background-color: rgb(156, 209, 246);
}
.background {
    background-color: beige;
}
.container {
    margin-top: 0px;
    padding: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}
.in-flex-container {
    flex-basis: 600px;
}
.section1-text {
    width: 90%;
}
p {
    font-size: 20px;
}
.img-gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-left: 30px;
    flex-basis: 400px;
}
.flex-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    width: 200px;
    position: relative;
    left: 0px;
    top: 0px;
}
.right-border {
    width: 47.5%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    border-right: darkslategray 10px solid;
    margin-top: 0px;
}
.in-gallery {
    width: 128px;
    margin: 20px 10px 20px 10px;
    transition: width 0.5s ease-in-out;
    z-index: 5;
    border: darkturquoise 5px solid;
    border-radius: 14px;
}
.big-gif {
    width: 256px;
    transition: width 0.5s ease-in-out;
    border: burlywood 8px inset;
    z-index: 5;
    margin: 0px;
}
.big-gif:hover {
    width: 300px;
}
.in-gallery:hover {
    width: 200px;
}
.combo {
    width: auto;
    height: auto;
}