.back {
    background-color: beige;
}
.back:hover {
    background-color: azure;
}
.h1-container {
    background-color: azure;
    border-color: beige;
}
.container {
    margin-top: 0px;
    padding: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}
.section1 {
    flex-basis: 600px;
    z-index: -1;
}
.section1-text {
    width: 90%;
}
p {
    font-size: 20px;
    padding-top: 20px;
}
.section1 > p {
    padding-top: 30px;
    padding-bottom: 50px;
}

.img-gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-left: 30px;
    flex-basis: 400px;
}
.flex-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    width: 200px;
    position: relative;
    left: 0px;
    top: 0px;
}
.right-border {
    width: 47.5%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    border-right: darkslategray 10px solid;
    margin-top: 0px;
}
.in-gallery {
    width: 128px;
    margin: 20px 10px 20px 10px;
    transition: width 0.5s ease-in-out;
    z-index: 5;
    border: darkturquoise 5px solid;
    border-radius: 14px;
}
.big-gif {
    width: 256px;
    transition: width 0.5s ease-in-out;
    border: burlywood 8px inset;
    z-index: 5;
    margin: 0px;
}
.big-gif:hover {
    width: 300px;
}
.in-gallery:hover {
    width: 200px;
}
.section2 {
    margin-top: 0px;
    padding: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: row;
}
.section2 > p {
    text-align: right;
}
.combo-container {
    align-self: flex-end;
    justify-self: flex-end;
    position: relative;
}
.combo {
    width: 100%;
    height: 100%;
    position: relative;
    right: 40%;
    top: 20px;
}