.back {
    background-color: steelblue;
}
.back:hover {
    background-color: lavender;
}
.h1-container {
    background-color: lavender;
    border-color: steelblue;
}
.container {
    text-align: left;
    font-size: 20px;
}
.coming-soon {
    color: steelblue;
    font-weight: bold;
}