.back {
    background-color: lightcyan;
}
.back:hover {
    background-color: lavender;
}
.h1-container {
    background-color: transparent;
}
.container {
    text-align: left;
    font-size: 20px;
}
.coming-soon {
    color: steelblue;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}
.interactive-app {
    margin: 40px 0px 80px 0px;
    height: 600px;
    width: 100%;
    position: relative;
}
.app-img-holder {
    margin: auto;
    height: 600px;
    width: fit-content;
}
.app-button-holder {
    position: relative;
    bottom: 86px;
    z-index: 5;
    margin: auto;
    width: fit-content;
}
.app-button {
    margin: 0px 6.25px;
    border: none;
    text-decoration: none;
    background-color: rgba(100, 100, 100, 0.4);
    border-radius: 100%;
    padding: 16px 18px;
    width: fit-content;
    height: fit-content;
    font-size: 8px;
    color: rgba(100, 100, 100, 0);
}
#app-img {
    object-fit: cover;
    height: 600px;
}
.open-img {
    height: 90%;
    width: auto;
    position: relative;
    bottom: 10px;
}
.try-me {
    text-align: center;
    margin-top: -20px;
    font-size: 18px;
    font-weight: bolder;
    color: violet;
}
