.back {
    background-color: lightcyan;
}
.back:hover {
    background-color: lavender;
}
.h1-container {
    background-color: transparent;
}
.container {
    text-align: left;
    font-size: 20px;
}
.coming-soon {
    color: steelblue;
    font-weight: bold;
    font-size: 24px;
    padding-left: 160px;
}
.open-img {
    height: 90%;
    width: auto;
    position: relative;
    bottom: 10px;
}
