  body {
	font-family: Avenir, "Avenir Next", Arial, sans-serif;
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(white, white, rgb(197, 219, 233));
	background-size: cover;
	overflow-x: hidden;
  }
  h1 {
	text-align: center;
	font-size: 50px;
	color: mintcream;
	z-index: 10;
  }
  .h1-shadow {
	position: relative;
	opacity: 20%;
	filter: blur(1px);
	bottom: 90px;
	left: 10px;
	z-index: 1;
	margin-bottom: -90px;
  }
  .h1-container {
	position: relative;
	background-color: rgb(57, 78, 173);
	z-index: -5;
	align-content: center;
	margin: -20px -20px 0px;
  }
  h2 {
	text-align: center;
	font-size: 28px;
	color: steelblue;
	padding: 20px 0px;
	background-color: whitesmoke;
	margin: 0px -20px 20px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 10;
  }
  h3 {
	font-size: 22px;
	text-align: center;
	font-style: italic;
	color: whitesmoke;
	padding: 0px 0px 20px;
	display: inline;
  }
  .h3-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
  }
  @media screen and (max-width: 900px) {
	.h3-container {
	  flex-direction: column;
	}
  }
  i {
	padding: 0px 10px;
  }
  .flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	z-index: -10;
  }
  .app {
	flex-basis: 40vw;
	height: 25vw;
	box-sizing: border-box;
	position: relative;
	z-index: 1;
	margin: 10px;
	overflow: hidden;
	border-radius: 20px;
  }
  @media screen and (max-width: 1200px) {
	.app {
		flex-basis: 90vw !important;
		height: 56.25vw !important;
	}
	body {
      height: max-content !important;
	}
  }
  .img-container {
	height: 80%;
	z-index: inherit;
	position: relative;
  }
  img {
	z-index: -1;
	width: 100%;
	height: 100%;
	z-index: inherit;
	position: relative;
	object-fit: cover;
	object-position: 0% 0%;
  }
  .app:hover .apptext {
	background-position-y: bottom;
  }
  .app:hover .appcover {
	top: 0px;
  }
  .app:hover .appdesc {
	top: 82%;
  }
  .app:hover .appname {
	bottom: 15%;
  }
  .apptext {
	z-index: 10;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	overflow: hidden;
  }
  .appcover {
	z-index: 4;
	background-color: darkcyan;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 78%;
	left: 0px;
	transition: top 0.3s ease-in-out;
  }
  .appname {
	font-size: 32px;
	position: absolute;
	bottom: 6%;
	transition: bottom 0.3s ease-in-out;
	left: 20px;
	font-weight: bold;
	z-index: inherit;
  }
  .appdesc {
	font-size: 24px;
	font-weight: bold;
	color: lightcyan;
	position: absolute;
	top: 130%;
	transition: top 0.3s ease-in-out;
	left: 20px;
	z-index: inherit;
  }
  a:link {
	  color: darkslategray;
  }
  a:visited {
	  color: mediumseagreen;
  }
  a:active {
	  color: darkslategray;
  }
  a:hover {
	color: orchid;
  }