  body {
	font-family: Avenir, "Avenir Next", Arial, sans-serif;
	width: 100%;
	height: max-content;
	background-image: linear-gradient(white, white, rgb(197, 219, 233));
	background-size: cover;
	overflow-x: hidden;
	background-repeat: no-repeat;
  }
  h1 {
	text-align: center;
	font-size: 50px;
	color: mintcream;
	z-index: 10;
  }
  .h1-shadow {
	position: relative;
	opacity: 20%;
	filter: blur(1px);
	bottom: 90px;
	left: 10px;
	z-index: 1;
	margin-bottom: -90px;
  }
  .h1-container {
	position: relative;
	background-color: rgb(57, 78, 173);
	z-index: -5;
	align-content: center;
	margin: -20px -20px 0px;
  }
  h2 {
	text-align: center;
	font-size: 28px;
	color: steelblue;
	padding: 20px 0px;
	background-color: whitesmoke;
	margin: 0px -20px 20px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 10;
  }
  h3 {
	font-size: 22px;
	text-align: center;
	font-style: italic;
	color: whitesmoke;
	padding: 0px 0px 20px;
	display: inline;
  }
  .h3-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
  }
  @media screen and (max-width: 900px) {
	.h3-container {
	  flex-direction: column;
	}
  }
  i {
	padding: 0px 10px;
  }
  .flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: top;
	z-index: -10;
	min-height: 100vh;
  }
  .app {
	flex-basis: 40vw;
	height: 25vw;
	box-sizing: border-box;
	position: relative;
	z-index: 1;
	margin: 10px;
	overflow: hidden;
	border-radius: 20px;
  }
  @media screen and (max-width: 1200px) {
	.app {
		flex-basis: 90vw !important;
		height: 56.25vw !important;
	}
	body {
      height: max-content !important;
	}
  }
  .img-container {
	height: 80%;
	z-index: inherit;
	position: relative;
  }
  img {
	z-index: -1;
	width: 100%;
	height: 100%;
	z-index: inherit;
	position: relative;
	object-fit: cover;
	object-position: 0% 0%;
  }
  .app:hover .apptext {
	background-position-y: bottom;
  }
  .app:hover .appcover {
	top: 0px;
  }
  .app:hover .appdesc {
	top: 80%;
  }
  .app:hover .appname {
	bottom: 15%;
  }
  .apptext {
	z-index: 10;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	overflow: hidden;
  }
  .appcover {
	z-index: 4;
	background-color: darkcyan;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 78%;
	left: 0px;
	transition: top 0.3s ease-in-out;
  }
  .appname {
	font-size: 28px;
	position: absolute;
	bottom: 6%;
	transition: bottom 0.3s ease-in-out;
	left: 20px;
	font-weight: bold;
	z-index: inherit;
	color: rgb(38, 54, 50);
	font-style: none;
	background-color: transparent;
	border: none;
	text-decoration: none;
	padding: 10px 0px;
  }
  .appname i {
	display: none;
  }
  .appname:hover .underline {
	text-decoration: underline;
  }
  .appname:hover i {
	display: inline;
  }
  .appdesc {
	font-size: 24px;
	font-weight: bold;
	color: lightcyan;
	position: absolute;
	top: 130%;
	transition: top 0.3s ease-in-out;
	left: 20px;
	z-index: inherit;
  }
  .apppage-title-container {
	position: relative;
	background-color: rgb(57, 78, 173);
	z-index: -5;
	align-content: center;
	margin: -20px -20px 0px;
  }
  .apppage-title {
	text-align: left;
	color: whitesmoke;
	font-size: 48px;
	padding-left: 40px;
  }
  .apppage-back {
	text-decoration: none;
	border: none;
	border-radius: 20px;
	box-sizing: border-box;
	padding: 20px 20px 20px 10px;
	font-size: 32px;
	background-color: aquamarine;
	margin-top: 2vh;
	margin-left: 20px;
	font-weight: bold;
	color: whitesmoke;
  }
  .apppage-bigimage-container {
	display: flex;
	justify-content: center;
  }
  .apppage-bigimage {
	width: 40vw;
	margin: 5vh 0px;
	border-radius: 20px;
	object-position: center center;
	box-shadow: 30px 30px lavender;
	transition: width 0.5s ease-in-out;
  }
  .apppage-bigimage:hover {
	width: 45vw;
  }
  .codelinks-container {
	display: flex;
	flex-flow: row wrap;
	width: 90vw;
	justify-content: space-around;
	margin: auto;
  }
  .codelink {
	font-size: 30px;
	font-weight: bold;
	padding: 20px 10px;
	color: blue
  }
  .codelink:hover {
	color: orchid
  }
  .sections-container {
	display: flex;
	flex-flow: row wrap;
	width: 95vw;
	justify-content: space-around;
	align-items: flex-start;
	min-height: 100vh;
	margin-bottom: 30vh;
  }
  .section {
	width: 80vh;
	position: relative;
	margin: 5vh 0px;
	height: max-content;
  }
  .section-title-and-button {
	position: absolute;
	top: 0px;
	width: 100%;
  }
  .section-title {
	background-color: aquamarine;
	border-radius: 20px;
	font-size: 30px;
	padding: 40px 30px;
	margin: 0px;
	box-sizing: border-box;
	height: 12vh;
  }
  .section-content {
	align-self: center;
	width: 70vh;
	margin: 0px 5vh;
	transition: height 0.5s ease-in-out;
	border-radius: 20px;
	font-size: 24px;
	box-sizing: border-box;
	padding: 12vh 40px 20px;
	overflow: hidden;
  }
  .section-button {
	text-decoration: none;
	border: none;
	border-radius: 100%;
	box-sizing: border-box;
	padding: 20px;
	font-size: 32px;
	background-color: aquamarine;
	margin-top: 2vh;
	transition: rotate 0.5s ease-in-out;
  }
  .section-images {
	margin: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: flex-start;
	width: 100%;
	margin-top: 0px;
  }
  .section-image {
	max-width: 15vh;
	object-fit: contain;
	background-color: navy;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 20px;
	transition: max-width 0.3s ease-in-out;
  }
  .section-image:hover {
	max-width: 18vh;
  }